<footer class="footer">
  <small>
    by Rutul Dave
  </small>
  <nav>
    <ul>
      <li><a href="http://about.me/rutul">About Me</a></li>
      <li><a href="http://failuretolaunch.posterous.com">Blog</a></li>
    </ul>
  </nav>
</footer>